body {
    font-family: Arial, sans-serif; /* Fonte padrão */
}

h1, h2, h3, h4 {
    font-family: Georgia, serif; /* Fonte para títulos */
}

.fonte {
    font-family: Verdana, sans-serif;
    margin-left: 4vh;
    padding-bottom: 2vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color:#d47463;
    display: flex;
    flex-direction: row;
    align-items: left;
    height: 11vh;
    border-bottom: 2px solid black;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0;
}

.img-logo{
    height: 9vh;
    margin-top: 1vh;
    margin-left: 20px;
    border-radius: 50%;
}

.nomeLogo {
    margin-top: 30px;
    margin-left: 20px;
}

#nav-buttons{
    display: flex;
    width: 600%;
    justify-content: flex-end;
    align-items: center;
}
.nav-fixed{
    position: fixed;
    top: 0;
    right: 0;
    
    align-items: center;
    padding: 10px 20px;
    height: 11vh;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.a-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    height: 11vh;
    width: 2%;
    transition: .2s linear background;
}
.a-nav:hover{
    background-color: rgb(255, 255, 255);
}

#img-cad{
    height: 27vh;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3{
    margin: 0px 20px 20px 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #263844;
    color: white;
}
#cadastro {
    margin-top: 5%;
    text-align: center;
    color: #ba4f3b;
}
form {
    background-color: white;
    color: #263844;
    padding: 30px;
    border-radius: 30px;
    
}

#formulario{
    margin: 2% 30% 10%;
}

.tipo{
    width: 40%;
}

label {
    display: block;
    margin-top: 20px;
}
input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-style: solid;
    border-width: 1px;
    border-color: #26384441;
}

input[type="password"]{
    width: 40%;
}
input[type="submit"] {
    background-color: #ba4f3b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
input[type="submit"]:hover {
    background-color: #29a561;
    transition-duration: .70s;
}



footer{
    margin-top: 10vh;
    border-top: solid #00000077 0.1vh;
    border-radius: 4vh 0 0;
	background-color: #b94e3a;
    padding-top: 3vh;
    font-family: poppins;
    color: #ffffff;
}
.footer {
	font-size: 10px;
}